export WORKSPACE_ROOT=$(pwd)

if test -f ./.envrc.local; then
    source_env ./.envrc.local
fi

if command -v nix-shell &> /dev/null
then
    use_flake
fi

# For convenience, expose executables from node_modules/.bin e.g. `vite`
export PATH="$WORKSPACE_ROOT/node_modules/.bin:$PATH"
